In [1]:
class employee:
    def __init__(self):
        self.id=322
        self.salary=250000
        self.name="jashia"

    def calculate_salary(self):
        print(f"salary of {self.name} is {self.salary/10}")

In [2]:
emp1=employee()
print(f"employee name {emp1.name}")
emp1.calculate_salary()

employee name jashia
salary of jashia is 25000.0

In [4]:
# can create the attributes outside of class for the class
emp1.last_name="mitayeegiri"
print(f"employee name {emp1.name} {emp1.last_name}")
emp1.calculate_salary()

employee name jashia mitayeegiri
salary of jashia is 25000.0

# Encapsulation

In [ ]:
class employee:
    def __init__(self):
        self.id=322
        self.salary=250000
        self.name="jashia"
        self.__snn=12345678 # encapsulation hidding ssn 

    def calculate_salary(self):
        print(f"salary of {self.name} is {self.salary/10}")

    def get_ssn(self):
        return self.__snn
    
    def set_snn(self,val):
        self.__snn=val
        return

In [11]:
emp1=employee()
print(emp1.__ssn)

AttributeError: 'employee' object has no attribute '__ssn'

In [20]:
emp1=employee()
emp1.get_ssn()
emp1.set_snn(98876633)
emp1.get_ssn()

98876633

# Static variable and methods

In [53]:
class employee:
    __user_id=1
    def __init__(self):
        self.id=employee.__user_id
        employee.__user_id+=1
        self.salary=250000
        self.name="jashia"
        self.__snn=12345678 # encapsulation hidding ssn 

    def calculate_salary(self):
        print(f"salary of {self.name} is {self.salary/10}")

    def get_ssn(self):
        return self.__snn
    
    def set_snn(self,val):
        self.__snn=val
        return
    
    @staticmethod
    def get_recent_id():
        return employee.__user_id
    
    @staticmethod
    def reset_user_id(val):
        employee.__user_id = val

In [54]:
emp1=employee()
print(f"employee name {emp1.name} user_id = {emp1.id}")
emp1.calculate_salary()

employee name jashia user_id = 1
salary of jashia is 25000.0

In [55]:
emp2=employee()
print(f"employee name {emp2.name} user_id = {emp2.id}")
emp2.calculate_salary()

employee name jashia user_id = 2
salary of jashia is 25000.0

In [56]:
emp3=employee()
print(f"employee name {emp3.name} user_id = {emp3.id}")
emp3.calculate_salary()

employee name jashia user_id = 3
salary of jashia is 25000.0

In [57]:
employee.get_recent_id()

4

In [58]:
employee.reset_user_id(515)

In [59]:
emp4=employee()
print(f"employee name {emp4.name} user_id = {emp4.id}")
emp4.calculate_salary()

employee name jashia user_id = 515
salary of jashia is 25000.0